<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6614965503874186"
     crossorigin="anonymous"></script>
    <title>Youtube to MP3 Converter</title>
</head>
<body>
  <div class="navbar">
    <ul>
      <li><a href="/">Beranda</a></li>
      <li><a href="/berita">Berita</a></li>
      <li><a href="/tentang-kami">Tentang Kami</a></li>
    </ul>
  </div>

  <h1>Berita</h1>
  <h4>Update V0.5</h4>

		<footer class="footer-distributed">
			<div class="footer-right">
				<a href="#"><i class="fab fa-facebook"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-linkedin"></i></a>
				<a href="#"><i class="fab fa-github"></i></a>
			</div>
			<div class="footer-left">
				<p class="footer-links">
					<a class="link-1" href="#">Home</a>
					<a href="#">About</a>
					<a href="#">Contact</a>
				</p>
				<p>ViznaCorp &copy; 2022</p>
			</div>
		</footer>
</body>
</html>